<%= @device.name %><br />
<%= @device.company %><br />
<ul>
  <% @device.games.each do |game| %>
    <li><a href="/games/<%= game.id %>"><%= game.name %> </a></li>
  <% end %>
</ul>
<a href="/devices/<%= @device.id %>/edit">Edit</a>
<br>
Beware that deleting a device will also delete the games that are on the device!! <br>
<a href="/devices/<%= @device.id %>/delete">Delete Device!</a>