<h1>Edit <%= @game.name %></h1><br>
<a href="/games/<%= @game.id %>/delete">Delete Game!</a>

<form action="/games/<%= @game.id %>" method="POST">
  <label> Game Name </label>
  <input type="text" name="name" value="<%= @game.name %>"> </br>

  <label> Number of Players: </label>
  <input type="text" name="players" value="<%= @game.players %>"> </br>

  <label> Which device is this game on? </label> <br>
  <label> Devices: </label>
    <% current_user.devices.each do |device| %>
    <%= device.name %> <input id="<%= device.id %>" type="checkbox" name="device_id" value="<%= device.id %>"><br>
    <% end %>
  </select>

  <input type="submit" value="Update">
</form>
