<h1> <%= @game.name %> </h1>

Players: <%= @game.players %> <br>

Device: <a href="/devices/<%= @game.device.id %>"><%= @game.device.name %></a><br />
<a href="/games/<%= @game.id %>/edit">Edit</a>
<br />
<a href="/games/<%= @game.id %>/delete">Delete Game!</a>

<br />